.modal-content {
  background-color: #343a40; /* Fondo oscuro para el modal */
  color: #fff; /* Texto blanco */
}

.form-control {
  background-color: #495057; /* Fondo oscuro para los campos de entrada */
  color: #fff; /* Texto blanco */
  border: 1px solid #6c757d; /* Borde gris */
}

.form-control:focus {
  background-color: #495057; /* Fondo oscuro para los campos de entrada */
  color: #fff; /* Texto blanco */
  border-color: #80bdff; /* Borde azul */
}

.modal-header .close {
  color: #fff; /* Texto blanco para el botón de cierre */
}
