<div class="container mt-5 text-white">
  <h1>Contacto</h1>
  <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm" novalidate>
    <div class="mb-3 grid-item">
      <label for="name" class="form-label">Nombre</label>
      <input type="text" class="form-control" id="name" name="name" ngModel required placeholder="Ingrese su nombre">
      <div *ngIf="contactForm.submitted && contactForm.controls['name']?.errors?.['required']" class="text-danger">
        El nombre es requerido.
      </div>
    </div>
    <div class="mb-3 grid-item">
      <label for="email" class="form-label">Correo Electrónico</label>
      <input type="email" class="form-control" id="email" name="email" ngModel required email
             placeholder="Ingrese su correo electrónico" (keyup)="onEmailInput(contactForm)">
      <div *ngIf="emailErrors?.['required']" class="text-danger">
        El correo electrónico es requerido.
      </div>
      <div *ngIf="emailErrors?.['email']" class="text-danger">
        Ingrese un correo electrónico válido.
      </div>
    </div>
    <div class="mb-3 grid-item">
      <label for="message" class="form-label">Mensaje</label>
      <textarea class="form-control" id="message" name="message" rows="5" ngModel required placeholder="Ingrese su mensaje"></textarea>
      <div *ngIf="contactForm.submitted && contactForm.controls['message']?.errors?.['required']" class="text-danger">
        El mensaje es requerido.
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
  </form>
</div>
