<div class="container mt-5 text-white">
  <h1 class="text-center">Carrito de Compras</h1>

  <div *ngIf="cartItems.length === 0">
    <p class="text-center">Tu carrito está vacío.</p>
  </div>

  <div *ngIf="cartItems.length > 0">
    <ul class="list-group mb-3">
      <li *ngFor="let item of cartItems" class="list-group-item d-flex justify-content-between align-items-center">
        <div class="grid-item col-span-12 col-md-8">
          {{ item.nombre }} - {{ item.precio | customCurrency }} x {{ item.quantity }}
        </div>
        <div class="grid-item col-span-12 col-md-4 d-flex justify-content-end">
          <button class="btn btn-sm btn-danger me-2" (click)="removeFromCart(item)">-</button>
          <button class="btn btn-sm btn-success" (click)="addToCart(item)">+</button>
        </div>
      </li>
    </ul>
    <div class="d-flex justify-content-between grid-item col-span-12">
      <strong>Total: {{ getTotalPrice() | customCurrency }}</strong>
      <button class="btn btn-success" (click)="showPaymentForm()">Pagar</button>
    </div>
  </div>

  <app-payment-form *ngIf="isPaymentFormVisible" (paymentSubmitted)="handlePayment($event)" (modalClosed)="isPaymentFormVisible = false"></app-payment-form>
</div>
