/* Aplica un fondo oscuro a todo el cuerpo de la página */
body {
  background-color: #121212;
  color: #ffffff;
  font-family: Arial, sans-serif;
}

/* Estiliza el contenedor principal */
.container {
  background-color: #1e1e1e;
  border-radius: 5px;
  padding: 20px;
  color: #ffffff;
}

/* Estilos adicionales para asegurar que todos los textos se vean bien en modo oscuro */
.navbar, .footer {
  background-color: #212529;
  color: #ffffff;
}

.navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.9);
}

.navbar-nav .nav-link:hover {
  color: #ffffff;
}

footer {
  background-color: #212529;
  padding: 1rem;
  color: #ffffff;
  position: fixed;
  bottom: 0;
  width: 100%;
}

a {
  color: #bb86fc;
}

a:hover {
  color: #bb86fc;
}

/* Estilo para el enlace activo */
.navbar-nav .nav-link.active {
  font-weight: bold;
  color: #ffffff !important;  /* Asegura que el color sea blanco */
  background-color: #343a40;  /* Fondeo gris oscuro */
  border-radius: 5px;  /* Bordes redondeados */
}

